bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
*.log
.idea/
*.nupkg
artifacts/
*.dll
*.pdb
*.exe
!scripts/**
.DS_Store
*.userprefs
agent-tools/
.cursor/
release/*.dll
release/*.pdb
release/*.xml
release/*.tlb
release/*.zip
release/VERSION.txt
stable/*.dll
stable/*.pdb
stable/*.xml
stable/*.tlb
stable/*.zip
stable/VERSION.txt

